// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&feather_spi
 {
	tempsensor: max6675@0 {
		compatible = "maxim,max6675";
		reg = <0>;
		spi-max-frequency = <4300000>;
	};
};

/{
aliases {
	ledext = &ext_led;
};

leds {
	compatible = "gpio-leds";
	ext_led: led_0 {
		gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		label = "External led";
	};
};
};
